#form {
    background-color: gray;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #969696;
    background: #d9dbda;
    margin: 10px;
}
